<div>
  <div class="column" *ngFor="let cartItem of shoppingCartItems" id="cartItem">
    <app-shoppingcartitem
      [cartItem]="cartItem"
      (removeItemFromShoppingCart)="removeItemFromShoppingCart(cartItem)"
      (changedQuantity)="changedQuantity(cartItem)"
    ></app-shoppingcartitem>
  </div>

  <div class="row centerButtons">
    <div class="center" *ngIf="shoppingCartItems.length == 0">
      <h1>This basket is empty!</h1>
    </div>
    <div class="col" *ngIf="shoppingCartItems.length > 0">
      <h1>Total costs: {{ totalCosts.toFixed(2) }} €</h1>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <a class="btn btn-primary" style="width: 200px" routerLink="/"
        >&#8592; Back to product list</a
      >
    </div>
    <div class="col-2">
      <input
        class="btn btn-primary"
        style="width: 200px"
        (click)="clearShoppingCart()"
        [disabled]="shoppingCartItems.length == 0"
        value="Clear Shopping Cart"
      />
    </div>
    <div class="col">
      <input
        class="btn btn-primary"
        style="width: 200px; margin-left: 50%"
        routerLink="/checkout"
        [disabled]="shoppingCartItems.length == 0"
        value="Checkout"
      />
    </div>
  </div>
</div>
