<div class="row">
  <div class="col">
    <div class="d-flex justify-content-center">
      <h1>Success ! 🎉</h1>
    </div>
    <div class="col">
      <h3>
        Hello {{ currentUser.fullName }} , <br />
        Thank you for buying at my store! We will send you your products to the
        address <br />
        {{ currentUser.address }}
      </h3>
    </div>
    <div class="col">
      <button routerLink="/" class="btn btn-primary">
        Back to Shopping list
      </button>
    </div>
  </div>
</div>
